@model  ClassLibrary.Model.Bill;



@{
  ViewData["Title"] = "eBill";
  
}

 <div class="d-flex items-center gap-3 justify-content-end px-5 py-2">
        <div class="mr-4">
          <h4 class="text-success">$705.00</h4>
          <p class="font-weight-medium">Total Bills</p>
        </div>
        <div>
          <h4>$1000.00</h4>
          <p>Threshold</p>
        </div>
      </div>
      <div class="p-4">
        <h3 class="mb-4">Showing all bills</h3>
        <div class="border border-2 w-75 p-3">
            <nav class="nav w-75 nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center  font-weight-bold nav-link border"
                   style="background-color: #3151D2; color: #ffffff"
                   href="#">All</a>

            </nav>
            @if (Model.BillList == null || Model.BillList.Count == 0)
            {
                <p>There are no bills yet.</p>
            } else

       

            @foreach (var BillItem in Model.BillList)
            {
                <div class="row mt-2 gap-3">

                    <div class="col">
                        <h6> @BillItem.Name</h6>
                        <p>$@BillItem.Amount.ToString("0.00")</p>
                    </div>
                    @if (BillItem.DueDate > DateTime.Now)
                    {
                        <div class="col text-right">
                            <h6>@BillItem.DueDate</h6>
                        </div>
                    }
                    else
                    {
                        <div class="col text-right text-danger">
                            <h6>@BillItem.DueDate</h6>
                        </div>
                    }


                </div>
            }



        </div>
      </div>



